 <table class="mdl-data-table mdl-shadow--2dp" style="width:100%">
            <thead>
            <tr>
            <th ng-click="orderbyCol(key)" ng-repeat="(key,value) in data[0]">
            {{key}}
             <span ng-show="canShowThisColSortIcon(key)">
            <span ng-show="!reverseSort">
            <icon-arrow-upward size="12px" color="rgba(0,0,0,0.54)"></icon-arrow-upward>
            </span>
            <span ng-show="reverseSort">
            <icon-arrow-downward size="12px" color="rgba(0,0,0,0.54)"></icon-arrow-downward>
             </span>
             </span>
            </th>
            </tr>
             </thead>
            <tfoot>
            <tr>
            <th colspan="100%" style="text-align:right">
            <div style="float:left">
            Page : 
            <select ng-options="page for page in pageNumbers" ng-model="currentPage" ng-change="pageChange()" ></select>
             </div>
              {{skip +1}}-{{skip+data.length}} of {{total}}
            <button rsat-Button-icon ng-click="gotoPrevious()" ng-disabled="skip <= 0">
            <icon-arrow-left></icon-arrow-left>
             </button>
              <button rsat-Button-icon ng-click="gotoNext()" ng-disabled="(skip+data.length) > total">
            <icon-arrow-right></icon-arrow-right>
             </button>

            </th>
              </tr>

            </tfoot>
             <tbody>
            <tr ng-repeat="row in data | orderBy:orderbyField : reverseSort track by $index">
            <td ng-repeat="(key,value) in row">{{value}}</td>
              </tr>

              </tbody>
              </table>